<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login</h1>
    <form id="loginForm">
        <input type="text" name="email" id="email" placeholder="Ingrese Email">
        <input type="password" name="password" id="password" placeholder="Ingrese Password">
        <button type="submit">Iniciar Sesion</button>
        <button type="button" id="forgotPasswordButton">Recuperar Contraseña</button>
        <label id="lblRecuperacion"></label>
    </form>
    <a href="/register">Registrarse</a>
    <script src="/login.js"></script>
</body>
</html>