<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Reestablecer Contraseña de <span id="emailPlaceholder">{{email}}{{secondTime}}</span></h1>
    <form id="resetForm">
        <input type="password" name="pwd" id="pwd" placeholder="Ingrese Nueva Contraseña">
        <input type="password" name="pwd2" id="pwd2" placeholder="Confirme Nueva Contraseña">
        <button type="submit">Reestablecer</button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/resetPassword.js"></script>
</body>
</html>